<body id="page-top" data-spy="scroll" data-target="#mainNav">

  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-dark fixed-top" id="mainNav">
    <div class="container">
      <a class="navbar-brand js-scroll-trigger" href="#page-top">JukiMods</a>
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        Menu
        <i class="fa fa-bars"></i>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#productos">Productos</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#servicios">Servicios</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#records">Records</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#equipo">Equipo</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="mailto:jukimods@gmail.com">Escríbenos</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <!-- Header -->
  <header class="masthead">
    <div class="container">
      <div class="intro-text">
        <div class="intro-lead-in">Bienvenidos a:</div>
        <div class="intro-heading">JukiMods</div>
<div class="clock" style="margin:2em;"></div>
        <a class="btn btn-xl js-scroll-trigger" href="#productos">Quiero saber más</a>
      </div>
    </div>
  </header>
   <div class="container">
     <div class="shadow-box-example z-depth-5">

    <h4 style="text-transform: none;">Los cubos fabricados por Juki Mods están especialmente diseñados para la competición de alto nivel.
Trabajo única y exclusivamente con los cubos top actuales y solo uso los mejores lubricantes del mercado.</h4>
  </div>
  </div>
